.main{
    display: grid;
    grid-template-areas:
      'name name'
      'oneItem'
      'twoItem'
      'threeItem'
      'forItem'
      'fiveItem'
      'sixItem';
    gap: 10px;
    margin: 1em 0;
    padding: 4em 16em;
    background-color: #121212; 
    min-height: auto;
}
.supTitle{
    width: 100%;
    color: white;
    font-size: 40px;
    font-weight: 300;
    padding: 0 0 0.5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
}

.main h3{
    color:white;
    font-style: italic;
    position: relative;
}
.main h3:after{
    content: "";
    border-bottom: 3px solid;
    bottom: -10px;
    left: 0;
    position: absolute;
    width: 45px;
}
.questions{
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
    background-color: #242424;
    border: 1px solid red;
    position: relative;
}
.questions p{
    width: 80%;
    position: relative;
}
.questions p:after{
    content: "";
    border-bottom: 3px groove;
    bottom: -5px;
    left: 0;
    position: absolute;
    width: 45px;
}
.button, .buttonItem, .buttonItem2,.buttonItem3{
    font-size: 2em;
    margin-right: 1em;
}

 .hideButton, .hideButton2, .hideButton3{
    /* display: none; */
    padding-left: 10px;
    /* margin-left: 2.4em; */
    width: 23.5em;
}
.mainSupport textarea{
    width: 100%;
    padding-bottom: 20%;
}
   .hideButton, .hideButton2 ,.hideButton3{
       width: 15%;
   }
.sendButton{
    position: relative;
    top:-3em;
    right: -10px;
    font-size: 80%;  
    width: 15%;   
}

.mainSupport{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supportBlock{
    width: 100%;
    margin-top: 3em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 6px solid blue;
}
.leftSection{
    width: 45%;
    border: 1px solid red;
}
.rightSection{
    width: 45%;
    border: 1px solid blue;
}
.supportItem{
    background-color: rgb(228, 218, 218);
    width: 80%;
   margin: 1em;
    display: flex;
    flex-direction: column;
}
.allItem{
 background-color: rgb(128, 123, 123);
 display: flex;
 flex-direction: column;
 width: 95%;
 justify-content: center;
 align-items: center;
}


.show{
    display:flex;
}
.hide{
    display: none;
}
.icon{
    text-align: end;
    font-size: 1.5em;
    padding-right: 1.5em;
}

.successMessage{
    position: absolute;
    width: 50%;
    font-size: 25px;
    bottom: 92%;
    text-align: center;
    color: white;
    animation: fadeOut 3.5s;
}
@keyframes fadeOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity: 0;}
  }