
:root {
  --text: #ffffff;
  --button-background:#997125db;
  --focus: #634919;
}

/*====Parent div====*/
.loginBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 1em auto;
  border-radius: 25px;
  background-image: linear-gradient(to right, #222222c2, #222222c2, #5c531fc2, #b6a30fc2, #b6a30fc2);
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  20% {
    display: block;
    opacity: .2;
  }

  40% {
    display: block;
    opacity: .4;
  }
  60% {
    display: block;
    opacity: .6;
  }

  80% {
    display: block;
    opacity: .8;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

  /*====Parent's both childs====*/
.loginForm, .loginAd {
  display: flex;
  flex-basis: 50%;
  flex-basis: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 61vh;
  position: relative;
}

.loginForm:after {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -3;
  border-right: 8px solid #5c531fb9;
  transform-origin: bottom left;
  transform: skew(-20deg, 0deg);
}

/*====First child's form*/
.loginForm form {
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items: center;
}

  /*====Form additional inside-form elements styles*/
      /*--Title--*/
.loginForm h2 {
  margin-bottom: 1em;
  color: var(--text);
}

      /*--Input--*/
.loginEmail-Input,
.loginPassword-Input {
  padding: 1em;
  margin: .8em;
  border: none;
  border-radius: 15px;
  background-color: #5e5e5e9f;
  transition: 500ms ease-in-out;
}

.loginEmail-Input:before, 
.loginEmail-Input:after {
  position: absolute;
  opacity: 0;
  transition: all 0.7s ease;
}

.loginEmail-Input:before {
  content: "-";
  left: 50%;
}

.loginEmail-Input:hover:before {
  left: -5px;
  opacity: 1;
}


.loginEmail-Input:hover,
.loginPassword-Input:hover {
  box-shadow: 0 50px 10px #af83318e inset;
}

.loginEmail-Input::placeholder,
.loginPassword-Input::placeholder {
  color:var(--text);
}

.loginEmail-Input:focus::placeholder,
.loginPassword-Input:focus::placeholder {
  opacity: 0;
}

      /* Buttons, links */
.signIn-Btn {
  width: 30%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 15px;
  background-color: var(--button-background);
}

.signIn-Btn:hover {
  background-color: var(--focus);
  cursor: pointer;
}

.signIn-closeBtn {
  position: absolute;
  width: 2em;
  height: 2em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
  z-index: 2;
  color: var(--text);
  background-color: transparent;
  transition: 300ms linear;
  transform: translate(20em, -12em);
}

.signIn-closeBtn:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--button-background);
}

.passwordLink {
  color: var(--text);
  text-decoration: none;
}

.passwordLink:hover {
  color: var(--focus);
  text-decoration: underline;
}

/*====Second child's Ad*/
      /* Texts */
.loginAd-headerText{
  margin-bottom: 1.5em;
  color: var(--text);
}

.loginAd-mainLink {
  margin-bottom: 1.5em;
  font-weight: bold;
  color: var(--text);
}

.loginAd-mainLink:hover {
  color: var(--focus)
}

.loginAd-footerText {
  margin-bottom: 0.8em;
  color: var(--text);
}

      /* Image */
.loginAd img {
  margin-bottom: 1.5em;
}

      /* Button */
/* .logUtilities {
  display: flex;
  flex-flow: row nowrap;
} ??????????????*/


/* .loginPage .main-label input:focus ~ span,
.loginPage .main-label input:valid ~ span{
  transform: translateX(0) translateY(-25px);
  opacity:1;
} */
