
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --login-background: #222222b9;
  --text: #ffffff;
  --button-background:#997125db;
  --focus: #634919;
}

/*====Parent div====*/
.loginBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  background-image: linear-gradient(to right, #222222b9, #222222b9, #5c531fb9, #b6a30fb9, #b6a30fb9);
}

  /*====Parent's both childs====*/
.loginForm, .loginAd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  flex-basis: 1;
  height: 60vh;
  position: relative;
}

.loginForm:after {
  content: " ";
  position: absolute;
  display: block;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;  
  border-right: 8px solid #5c531fb9;
  transform-origin: bottom left;
  transform: skew(-20deg, 0deg);
  z-index: -3;
}

/*====First child's form*/
.loginForm form {
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-content: center;
  text-align: center;
}

  /*====Form additional inside-form elements styles*/
      /*--Title--*/
.loginForm h2 {
  color: var(--text);
  margin-bottom: 1em;
}

      /*--Input--*/
.loginEmail-Input,
.loginPassword-Input {
  border: none;
  border-radius: 15px;
  padding: 1em;
  margin: .8em;
  background-color: #5e5e5e9f;
  transition: 500ms ease-in-out;
}

.loginEmail-Input:hover,
.loginPassword-Input:hover {
  box-shadow: 0 50px 10px #af83318e inset;
}

.loginEmail-Input::placeholder,
.loginPassword-Input::placeholder {
  color:var(--text);
}

.loginEmail-Input:focus::placeholder,
.loginPassword-Input:focus::placeholder {
  opacity: 0;
}

      /* Button, link */
.signIn-Btn {
  padding: 1em;
  background-color: var(--button-background);
  border: none;
  border-radius: 15px;
  margin-bottom: 1em;
}

.signIn-Btn:hover {
  background-color: var(--focus);
  cursor: pointer;
}

.passwordLink {
  color: var(--text);
  text-decoration: none;
}

.passwordLink:hover {
  color: var(--focus);
  text-decoration: underline;
}

/*====Second child's Ad*/

      /* Texts */
.loginAd-HeaderText{
  color: var(--text);
  margin-bottom: 1.5em;
}

.loginAd-MainLink {
  color: var(--text);
  font-weight: bold;
  margin-bottom: 1.5em;
}

.loginAd-MainLink:hover {
  color: var(--focus)
}

.loginAd-footerText {
  color: var(--text);
  margin-bottom: 0.8em;
}

      /* Image */
.loginAd img {
  margin-bottom: 1.5em;
}

      /* Button */
/* .logUtilities {
  display: flex;
  flex-flow: row nowrap;
} ??????????????*/


/* .loginPage .main-label input:focus ~ span,
.loginPage .main-label input:valid ~ span{
  transform: translateX(0) translateY(-25px);
  opacity:1;
} */
