
:root {
  --text: #ffffff;
  --button-background:#997125db;
  --focus: #634919;
}

/*====Parent div form====*/
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1em auto;
  padding: 2em 4em 2em 4em;
  border-radius: 25px;
  background-image: linear-gradient(to right bottom, #222222c2, #222222c2, #83741ec2, #b6a30fc2);
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  20% {
    display: block;
    opacity: .2;
  }

  40% {
    display: block;
    opacity: .4;
  }
  60% {
    display: block;
    opacity: .6;
  }

  80% {
    display: block;
    opacity: .8;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

  /*====Form additional inside-form elements styles*/
      /*--Title--*/
.registerForm h2 {
  margin-top: 2em;
  padding-bottom: .1em;
  color: var(--text);
}

.postTitle {
  width: 25%;
  margin: .8em 0 .8em 0;
  padding-bottom: 1em;
  text-align: center;
  color: #b6a30fc2;
  border-bottom: 1px solid;
}

      /*--Input--*/
.registerForm input, .signUp-countrySelect {
  padding: 1.2em;
  margin: .8em;
  border: none;
  border-radius: 15px;
  color: var(--text);
  background-color: #5e5e5e9f;
  transition: 500ms ease-in-out;
}

.signUp-countrySelect select::-ms-expand {
  display: none;
}

.registerForm input:hover {
  box-shadow: 0 50px 10px #af83318e inset;
}

.registerForm input::placeholder {
  color: var(--text);
}

.registerForm input:focus::placeholder {
  opacity: 0;
}

.registerForm div {
  display: inline-block;
  width: 50%;
  text-align: center;
}

      /* Buttons, links */
.signUp-checkLabel {
  width: 80%;
  margin-top: 1em;
  text-align: center;
  color: var(--text);
}

.signUp-legacy {
  color: var(--text);
  text-decoration: underline;
  font-weight: bold;
}

.signUp-legacy:hover {
  color: var(--focus);
}

.signUp-submitBtn {
  padding: 1em;
  margin: 2em 0 2em 0;
  border: none;
  border-radius: 15px;
  background-color: var(--button-background);
}

.signUp-submitBtn:hover {
  background-color: var(--focus);
  cursor: pointer;
}

.signUp-closeBtn {
  align-self: flex-end;
  width: 2em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: var(--text);
  background-color: transparent;
  transition: 300ms linear;
}

.signUp-closeBtn:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--button-background);
}

.errs {
  text-align: center;
  color: var(--text);
}