:root {
  --register-background: #222222b9;
  --text: #ffffff;
  --button-background:#997125db;
  --focus: #634919;
}

/*====Parent div form====*/
.register-form {
  background-color: var(--register-background);
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form h3 {
  color: var(--text);
  margin: 1em 0 1em 0;
}


.main-label,
.main-select-label {
  font-size: 0.8rem;
  padding: .6em;
}

.main-input,
.main-select {
  width: 17.7rem;
  height: 2.4rem;
  border-radius: 15px;
  background-color: var(--input-background);
}

input,
select {
  color: var(--text);
}

.btn-form {
  padding: 1em;
  margin-top: 1em;
  background-color: var(--input-background);
  color: var(--text);
  border: none;
  text-align: center;
  border-radius: 15px;
}

.btn-form:hover {
  filter: brightness(85%);
  cursor: pointer;
}

label,
button {
  color: var(--text);
}

input,
select {
  background: var(--input-background);
  border: none;
}

input:hover {
  filter: brightness(85%);
}

.label-bottom {
  width: 70%;
  text-align: center;
  margin-top: 1em;
}

.bottom-links {
  color: rgba(252, 252, 252, 0.788);
  text-decoration: underline;
  font-weight: bold;
}

.bottom-links:hover {
  color: black;
}

.errs {
  text-align: center;
  color: white;
}