

footer {
  background-color: #121212;
  color: #fff;
  font-size: 1.1em;
  padding: 1.5em;
  height: auto;
}
.endFooter {
  text-align: center;
  font-size: 15px;
  margin: 1em auto;
}
.shareSection {
  display: flex;
  height: auto;
  padding: 0 3em;
  flex-flow: row nowrap;
}
.logo {
  flex-basis:10%;
  flex-grow: 1;
}
footer img {
  width: 20%;
  margin: 6em 0 0 12em;
}
.shareBlock{
  flex-basis: 70%;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
}
.follow{
  flex-basis: 30%;
  height: 20vh;
  width: 50%;
  padding: 0 3em 0 0;
}
.follow h4, .share h4, .quicklinks h4{
  position: relative;
  margin-bottom: 1.5em;
}
.follow h4:after, .share h4:after, .quicklinks h4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2em;
  border: 1px solid #fff;
  width: 45px;
}
.displayflex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
  padding: 0 4em 0 0;
}
.displayflexshare{
  display: flex;
  flex-flow: row nowrap;
  
}
.displayflexlinks{
  display: flex;
  flex-flow: column nowrap;
}
.displayflexlinks a {
  line-height: 1.8em;
  font-size: 0.8em;
  color: #997025;
  width: 8em;
}
.displayflexlinks a:hover, .displayflex p:hover {
  color: #cebfa4;
}
.share button:hover{
  background-color: #cebfa4;
}
.share{
  height: 20vh;
  flex-basis: 30%;
}

.quicklinks{
  flex-basis: 30%;
  height: 20vh;
  padding: 0 0 0 4em;
}
.share button{
  border: none;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 15px;
  background-color: #997025;
  cursor: pointer;
  margin-right: 1em;
}
.share input{
  border: none;
  border-radius: 15px;
  padding: 0.5em;
  background-color: #cebfa4;
  cursor:context-menu;
}
.copied{
  margin-left: 1em;
  font-weight: bold;
}

.displayflex p {
  color: #997025;
  cursor: pointer;
}
