.productPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    padding-top: 4em;
    background-color: #121212;
}
.prodTitle{
    color: white;
    width: 55%;
    text-align: start;
    font-size: 40px;
    font-weight: 300;
    padding: 0 0 0.5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
}

.prodComment{
    color: white;
}
.productMedia {
    padding: 2.5em 5em 5em 5em;
    color: #fff;
    width: 100%;
    position: relative;
}
.productImages{
    display: flex;
    justify-content: center;
}
.productImages img{
    width: 35%;
}
.prodVideoWrap{
    width: 100%;
    max-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodVideo{
    width: 60%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.productDesc{
    width: 100%;
    height: auto;
    display: inline-block;
    color: white;
    padding: 2.5em 5em 0 5em;
}
.productDesc h2, .productMedia h2{
    margin: 1em 0 2em 0em;
    position: relative;
    font-weight: normal;
}
.productDesc h2:after, .productMedia h2:after{
    content: "";
    border-bottom: 3px solid;
    bottom: -10px;
    left: 0;
    position: absolute;
    width: 45px;
}
.productSummary{
    height: 50vh;
    padding: 0 0 0.5em 6em;
    font-size: 15px;
    display: flex;
    color: #fff;
    background-color: #242424;
    justify-content: center;
    align-items: center;
}
.prodInfoBlock {
    width: 60%;
    padding: 1em 0 0 0;
    border-top: 2px solid #fff;
}
.prodAbout h3{
    margin-bottom: 2em;
}
.prodAbout p{
    font-size: 1em;
    color: #fff;
}
.prodPrice{
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    width: 30%;
    font-size: 1em;
    padding-top:8em;
}
.prodPrice span{
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
}
.prodBuyBtn{
    margin-left: 3em;
    color: black;
    background-color: #8d6a28;
    border-radius: 10px;
    border: none;
    width: 7em;
    padding: 0.8em;
    cursor:pointer;
    transition: 1.2s all;
}
.prodBuyBtn:hover{
    background-color: #634919;
}
.productAdditional {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin-left: 5em;
}
.productRequirements, .prodTags{
    width: 100%;
    height: auto;
    line-height: 1.5em;
    vertical-align: middle;
}
.productRequirements h3, .prodTags h3{
    position: relative;
    margin-bottom: 0.6em;
}
.productRequirements ul, .prodTags ul{
    list-style-type: none;
    font-size: 1em;
}
.productRequirements li span, .prodTags p {
    color: #ffd500;
}
.prodTags{
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0;
}
.prodTags ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0.8em;
}
.prodTags li{
    border: 1px solid #8d6a28;
    border-radius: 10px;
    width: 6em;
}
.productRequirements h3:after, .prodTags h3:after {
    content: "";
    border-bottom: 3px solid #fff;
    bottom: -0.4em;
    left: 0;
    position: absolute;
    width: 25px;
}


/*Comments */
.productComments{
    width: 90%;
    min-height: auto;
    color: #fff;
}
.productComments h2, .productComments h2{
    margin: 1em 0 2em 0em;
    position: relative;
    font-weight: normal;
}
.productComments h2:after, .productComments h2:after{
    content: "";
    border-bottom: 3px solid;
    bottom: -10px;
    left: 0;
    position: absolute;
    width: 45px;
}
.productCommentList{
    background-color: #242424;
    padding: 2em;
    border-left: 6px solid;
}
.prodComment{
    display: flex;
    flex-flow: column wrap;
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #8d6a28;
}
.prodComment p:first-of-type{
   font-size: 1em;
   position: relative;
}
.prodComment p:first-of-type:before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    bottom: 0.3em;
    left: -1em;
    width: 0.5em;
    height: 0.5em;
}
.prodComment p:nth-of-type(2), .prodComment p:last-of-type{
   text-align: end;
   font-size: 0.8em;
   color: #ffa600;
}
.prodComment p:nth-of-type(2) b, .prodComment p:last-of-type b{
    color: #fff;
}
.productForm {
    padding: 1em;
    margin: 0.5em;
    width: 100%;
}
.productForm form{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 1em;
}
.commentTextArea{
    width: 50%;
    border: none;
    border-bottom: 3px solid #8d6a28;
    border-radius: 5px;
    padding: 2em 0 0 0;
    color: #fff;
    background-color: transparent;
    transition: 1.2s all;
}
.commentTextArea:focus{
    outline: none;
    border-color: #fff;
}
.productForm button{
    margin-left: 3em;
    color: black;
    background-color: #8d6a28;
    border-radius: 10px;
    border: none;
    width: 7em;
    padding: 0.8em;
    cursor:pointer;
    transition: 1.2s all;
}
.productForm button:hover{
    background-color: #fff;
}
.prodComment button{
    width: 5%;
    margin-top: 1em;
    border: none;
    border-radius: 15px;
    padding: 0.9em;
    align-self: flex-end;
    background-color: #cea4a4;
    box-shadow: 0 0 5px #ff0000 inset;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.prodComment button:hover{
    box-shadow: 0 50px 60px #e82f2f inset;
    opacity: 0.9;
}